.hometravelsectiondivp {
    font-family: "Brush Script MT", cursive;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 26.4px;
}

.avaimg {
    height: 60px;
    width: auto;
}

.avap {
    text-align: left;
}

.namefd {
    text-align: left;
}